

<h1>EAT DA BURGER!!!!</h1>

<h2>Yummy Yummy Burgers!</h2>

<ul>
  {{#each burger_data}}
    {{#unless devoured}}
      {{!-- {{> burgers/burger-block devoured=true}} --}}

      <button class="uneaten" data-id={{this.id}}>{{this.burger_name}}</button>
    {{/unless}}
  {{/each}}
</ul>

{{!-- <h2>Gross Burgers!</h2> --}}

<ul>
  {{#each burger_data}}
    {{#if devoured}}
      {{!-- {{> burgers/burgers-block devoured=false}} --}}
      <div>{{this.burger_name}}</div>
    {{/if}}
  {{/each}}
</ul>


<h2>Add Your Own Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    {{!-- <label for="devoured">Yummy?</label><br> --}}
    {{!-- <input type="radio" name="devoured" value="1" checked> Hello!<br>
    <input type="radio" name="devoured" value="0"> Goodbye! --}}
  </div>

  
</form> 

<button id="add-burger">Add Burger</button>













